<main class="lista-candidatos"    enctype="multipart/form-data">  
<ExamplePart examplePage="/examples/builtin-helper-each-block" show="template"/>

   <h2>Lista de Candidatos</h2>
   {{#if candidatos.length}}
     {{#each candidatos }}
       <div class="candidato">
           <div class="caja">
               <p class="etiqueta">Nombre:</p>
               <p class="nombre">{{nombre}}</p>
           </div>
             <div class="caja">
               <p class="etiqueta">E-mail:</p>
               <p class="email">{{email}}</p>
           </div>
           <div class="caja">
               <a href="/uploads/cv/{{cv}}" class="btn btn-verde">
                  Ver CV
               </a>
           </div>
       </div>
       {{/each}}
    {{else}}
       <p>No Hay Candidatos Aun</p>

     {{/if}}  

</main>